backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.16
psycopg2==2.8.6
ptyprocess==0.7.0
Pygments==2.8.0
PyYAML==5.4.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
traitlets==4.3.3
urllib3==1.26.3
wcwidth==0.2.5